body {
    background-color: gray;
}

#score {
    position: absolute;
    top: 92vh;
}

#clicker {
    position: absolute;
    background-color: rgb(158, 85, 26);
    width: 100px;
    height: 100px;
    top: 40%;
    left: 45%;
    border-radius: 50%;
}